* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  background-color: rgba(151, 151, 151, 0.03);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.navv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  height: 4rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
i:hover {
  cursor: pointer;
}

#logoImg {
  height: 65px;
  margin-right: 10rem;
}
nav .navLinks {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 30px;
  font-size: 40px;
}
nav .navLinks li a {
  height: 40px;
  line-height: 43px;
  margin: 0px;
  padding: 0px 22px;
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  color: #585858;
  letter-spacing: 1px;
  text-decoration: none;
}
.search {
  width: 250px;
  height: 40px;
  background-color: rgba(245, 245, 245, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0px 20px;
}
#searchInp {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  background-color: transparent;
}
#II {
  color: #3a3a3a;
}
nav .navLinks li a:hover {
  background-color: #242424;
  color: white;
  box-shadow: 5px 10px 30px rgba(53, 53, 53, 0.1);
  transition: all ease 0.3s;
}
#mainD {
  display: flex;
  padding-top: 90px;
  background-color: #ffffff;
  border-top: 2px solid rgba(53, 53, 53, 0.1);
  flex-wrap: wrap;
  justify-content: space-between;
}

.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);
  margin: 20px 10px;
  border-radius: 10px;
  overflow: hidden;
  width: 270px;
  background-color: lightgray;
  height: 430px;
  justify-content: space-between;
}
.all img {
  width: 100%;
  height: 75%;
}

.all:hover {
  transform: translateY(-20px);
  transition: all ease;
  cursor: pointer;
}
#myModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#myMOd {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
.close {
  cursor: pointer;
}

#myModal1 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#myMOd1 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

#myModal2 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#myMOd2 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
